html {
  background-color: #eee;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

header {
  text-align: center;
}

nav {
  text-align: center;
  background-color: #eee;
  padding: 10px;
}

nav a {
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 0 20px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid;
  padding: 10px 20px 0 20px;
}

/* Table styles */
th {
  background-color: blue;
  color: white;
}

td, th {
  border: 1px solid;
  padding: 5px;
}

img.flag {
  height: 50px;
}

