@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

html {
  background-color: #eee;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: white;
  padding: 20px;
  font-family: sans-serif;
}

/* Header */
header {
  text-align: center;
}

header span,
header h1 {
  font-size: 32px;
}

/* Main Navigation */
#main-nav {
  text-align: center;
  background-color: #eee;
  padding: 10px;
}

#main-nav a {
  text-decoration: none;
  padding: 5px;
}

#main-nav a:hover {
  text-decoration: underline;
}

/* Main content */
section {
  padding: 0 20px;
}

p {
  font-size: 18px;
}

/* Footer */
footer {
  margin-top: 50px;
  border-top: 1px solid;
  padding: 10px 20px 0 20px;
}

/* Table styles */
th {
  background-color: blue;
  color: white;
}

td, th {
  border: 1px solid;
  padding: 5px;
}

img.flag {
  height: 50px;
}

