html {
  background-color: blue;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

header,
nav {
  text-align: center;
}

footer {
  margin-top: 50px;
}

img.flag {
  height: 50px;
}

/* Table styles */
th {
    background-color: blue;
    color: white;
}

td, th {
    border: 1px solid;
    padding: 5px;
}
